$orangeColor: #FFC85E;
$orange_colorActive: #F3A50D; 
$blackColor: #111111;
$greenColor: #00E676;
$darkColor: #3F4E65;
$whiteColor: #FFFFFF;
$greyColor: #EDEDED;
$blueColor: #04B3E0;
$whatsApp_colorActive: #00B409;
$whatsApp_shadowColor: #00FF0D;
$telegram_shadowColor: #09DAFF;
$telegram_colorActive: #0293AD;